{% extends "layouts/base.njk" %}
{% from "components/button/macro.njk" import govukButton %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {% if statusCode == 404 %}Page not found{% elif statusCode == 403 %}Access denied{% else %}Sorry, there is a problem with the service{% endif %}
    </h1>

    {% if statusCode == 404 %}
    <p class="govuk-body">If you typed the web address, check it is correct.</p>
    <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>

    {% elif statusCode == 403 %}
    <p class="govuk-body">You do not have permission to access this page.</p>
    <p class="govuk-body">This area requires a different level of access. Contact your system administrator if you believe this is an error.</p>

    {% else %}
    <p class="govuk-body">Try again later.</p>
    {% if message %}
    <div class="govuk-inset-text">{{ message }}</div>
    {% endif %}
    {% endif %}

    <div class="cd-action-group">
      {% if user %}
        {{ govukButton({ text: "Go to menu", href: ("/menu/admin" if user.userType == 'ADMIN' else "/menu/main"), classes: "govuk-button--secondary" }) }}
      {% else %}
        {{ govukButton({ text: "Go to sign in", href: "/auth/login", classes: "govuk-button--secondary" }) }}
      {% endif %}
    </div>

  </div>
</div>

{% endblock %}
