{% extends "layouts/base.njk" %}
{% from "components/back-link/macro.njk"     import govukBackLink %}
{% from "components/input/macro.njk"         import govukInput %}
{% from "components/button/macro.njk"        import govukButton %}
{% from "components/error-summary/macro.njk" import govukErrorSummary %}

{% block backLink %}
  {{ govukBackLink({ text: "Back to search", href: "/pending-authorizations" }) }}
{% endblock %}

{% block content %}

<span class="cd-page-caption">Authorization Management</span>
<h1 class="govuk-heading-l">Pending Authorizations</h1>

{% if errors %}
  {{ govukErrorSummary({ titleText: "There is a problem", errorList: errors }) }}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">Enter an account ID to view its pending authorizations.</p>
    <form action="/pending-authorizations" method="post" novalidate>

      {{ govukInput({
        label: { text: "Account ID", classes: "govuk-label--s" },
        hint: { text: "11-digit account number" },
        id: "accountId",
        name: "accountId",
        classes: "govuk-input--width-20",
        inputmode: "numeric",
        attributes: { pattern: "[1-9][0-9]{10}", maxlength: "11", oninput: "this.value=this.value.replace(/[^0-9]/g,'')", required: "" },
        errorMessage: { text: errors[0].text } if errors
      }) }}

      {{ govukButton({ text: "Search", classes: "govuk-button--secondary" }) }}

    </form>
  </div>
</div>

{% endblock %}
