{% extends "layouts/base.njk" %}
{% from "components/back-link/macro.njk"  import govukBackLink %}
{% from "components/button/macro.njk"     import govukButton %}
{% from "components/pagination/macro.njk" import govukPagination %}

{% block backLink %}
  {{ govukBackLink({ text: "Back to admin menu", href: "/admin/users" }) }}
{% endblock %}

{% block content %}

<span class="cd-page-caption">Administration</span>
<h1 class="govuk-heading-l">User Administration</h1>

<div class="cd-action-group govuk-!-margin-bottom-4">
  {{ govukButton({ text: "Add User", href: "/admin/users/add" }) }}
</div>

{% if data and data.items.length %}
<div class="cd-table-wrapper">
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">User ID</th>
        <th class="govuk-table__header">Name</th>
        <th class="govuk-table__header">Role</th>
        <th class="govuk-table__header">Status</th>
        <th class="govuk-table__header">Actions</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for usr in data.items %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell cd-mono">{{ usr.userId }}</td>
        <td class="govuk-table__cell">{{ usr.firstName }} {{ usr.lastName }}</td>
        <td class="govuk-table__cell">
          <strong class="govuk-tag govuk-tag--{% if usr.userType == 'ADMIN' %}purple{% else %}blue{% endif %}">
            {{ usr.userType }}
          </strong>
        </td>
        <td class="govuk-table__cell">
          <strong class="govuk-tag govuk-tag--{% if usr.status == 'ACTIVE' %}green{% elif usr.status == 'LOCKED' %}red{% else %}grey{% endif %}">
            {{ usr.status }}
          </strong>
        </td>
        <td class="govuk-table__cell cd-table-actions">
          <a href="/admin/users/{{ usr.userId }}/edit" class="govuk-link">Update</a>
          <a href="/admin/users/{{ usr.userId }}/delete" class="govuk-link govuk-link--danger">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% if data.pagination %}
  {{ govukPagination({
    previous: { href: "?page=" + (page - 1) + "&pageSize=" + pageSize } if data.pagination.hasPrevious,
    next:     { href: "?page=" + (page + 1) + "&pageSize=" + pageSize } if data.pagination.hasNext,
    landmarkLabel: "User list"
  }) }}
{% endif %}

{% else %}
<div class="govuk-inset-text">No users found.</div>
{% endif %}

{% endblock %}
