{% extends "layouts/base.njk" %}
{% from "components/back-link/macro.njk" import govukBackLink %}
{% from "components/button/macro.njk"    import govukButton %}

{% block backLink %}
  {{ govukBackLink({ text: "Back to menu", href: "/menu" }) }}
{% endblock %}

{% block content %}

<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">Payment Successful</h1>
  <div class="govuk-panel__body">
    Transaction reference<br>
    <strong>{{ result.transactionId }}</strong>
  </div>
</div>

<h2 class="govuk-heading-m">Payment Summary</h2>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Account</dt>
    <dd class="govuk-summary-list__value cd-mono">{{ result.accountId }}</dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Amount Paid</dt>
    <dd class="govuk-summary-list__value cd-amount-positive">{{ result.paymentAmount | currency }}</dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Remaining Balance</dt>
    <dd class="govuk-summary-list__value">{{ result.remainingBalance | currency }}</dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Transaction ID</dt>
    <dd class="govuk-summary-list__value cd-mono">{{ result.transactionId }}</dd>
  </div>
</dl>

<div class="cd-action-group">
  {{ govukButton({ text: "Make Another Payment", href: "/payments/bill", classes: "govuk-button--secondary" }) }}
  <a href="/accounts/inquiry" class="govuk-link">View Account</a>
</div>

{% endblock %}
