{% extends "layouts/base.njk" %}
{% from "components/back-link/macro.njk"     import govukBackLink %}
{% from "components/input/macro.njk"         import govukInput %}
{% from "components/button/macro.njk"        import govukButton %}
{% from "components/error-summary/macro.njk" import govukErrorSummary %}

{% block backLink %}
  {{ govukBackLink({ text: "Back to card search", href: "/cards/search" }) }}
{% endblock %}

{% block content %}

<span class="cd-page-caption">Card Management</span>
<h1 class="govuk-heading-l">Card Detail</h1>

{% if errors %}
  {{ govukErrorSummary({ titleText: "There is a problem", errorList: errors }) }}
{% endif %}

{% if not card %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/cards/detail" method="get" novalidate>

      {{ govukInput({
        label: { text: "Card Number", classes: "govuk-label--s" },
        hint: { text: "Enter the 16-digit card number" },
        id: "cardNumber",
        name: "cardNumber",
        classes: "govuk-input--width-20",
        inputmode: "numeric",
        attributes: { pattern: "[0-9]{16}", maxlength: "16", oninput: "this.value=this.value.replace(/[^0-9]/g,'')" },
        errorMessage: { text: errors[0].text } if errors
      }) }}

      {{ govukButton({ text: "View Card", classes: "govuk-button--secondary" }) }}

    </form>
  </div>
</div>

{% else %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="cd-summary-card">
      <div class="cd-summary-card__title">Card Details</div>
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Card Number</dt>
          <dd class="govuk-summary-list__value cd-mono">{{ card.cardNumberMasked }}</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Account ID</dt>
          <dd class="govuk-summary-list__value cd-mono">{{ card.accountId }}</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Card Name</dt>
          <dd class="govuk-summary-list__value">{{ card.cardName }}</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Expiry</dt>
          <dd class="govuk-summary-list__value">{{ card.expiryMonth }}/{{ card.expiryYear }}</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Active</dt>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--{% if card.activeStatus == 'Y' %}green{% else %}grey{% endif %}">
              {% if card.activeStatus == 'Y' %}Yes{% else %}No{% endif %}
            </strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Card Status</dt>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--{% if card.cardStatus == 'ACTIVE' %}green{% elif card.cardStatus == 'EXPIRED' %}red{% else %}grey{% endif %}">
              {{ card.cardStatus }}
            </strong>
          </dd>
        </div>
      </dl>
    </div>

    <div class="cd-action-group">
      {{ govukButton({ text: "Update Card", href: "/cards/" + card.cardNumber + "/edit", classes: "govuk-button--secondary" }) }}
      <a href="/accounts/inquiry?accountId={{ card.accountId }}" class="govuk-link">View Account</a>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}
